
.hero{
    background: black;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.hero-title{
    font-size: 5rem;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 0px;
    
}
.hero-sub-title{
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: #be3144;
    margin-top: 0px;
}